/*
ETML
Author: 
Date: 
Summary: 
*/

body {
    background-color: #eaeaea;
}

.head, .jumbotron {
    background-color: #022692;
    color: #bdbdbd;
}

footer {
    background-color: #424242;
    color: #ffffff;
}