/*
ETML
Author: Clément Dieperink
Date: 
Summary: 
*/

body {
    background-color: #eaeaea;
}

.head, .jumbotron {
    background-color: #022692;
    color: #bdbdbd;
}

footer {
    margin-top: 4vh;
    background-color: #424242;
    color: #ffffff;
}

footer a:hover {
    color: #99F;
}

footer a:focus {
    color: #00F;
}

/* Ne permet pas de chnager la largeur des textarea */
textarea {
    resize: vertical;
}

.row {
    margin-top: 40px;
}

/* Pour les asterisks indiquant les champs obligatoires*/
.mChars {
    color: red;
}